.card {
  display: flex;
  flex-direction: column;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 93%;
  border-radius: 7px;
  --padding-start: 0px !important;
  --inner-padding-end: 0px !important;
  padding-inline-end: 0 !important;
  -webkit-padding-end: 0 !important;
  padding-inline-start: 0 !important;
  -webkit-padding-start: 0 !important;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  // font-size: 0.6rem;
  text-transform: capitalize;
  color: black;
}

.image {
  margin: 10px;
  align-self: center;
  font-size: 700%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 16px;
  max-height: 32px;
  -webkit-box-orient: vertical;
}
