######################
# Node
######################
node_modules/
*.log*
build/

######################
# Project Specific
######################
logs/
.env*
*.pem
*.crt


######################
# Windows
######################
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.vscode
package-lock.json
