<ion-slides
  pager="true"
  [options]="slideOpts"
  (ionSlidePrevStart)="slidePrevStart()"
  (ionSlideReachEnd)="slideChanged()"
>
  <ion-slide>
    <ion-grid class="ion-no-padding ion-margin-bottom">
      <ion-row class="ion-no-padding">
        <ion-col
          class="
            ion-no-padding ion-justify-content-center ion-align-items-center
          "
        >
          <ion-img src="/assets/images/welcome1.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text>
            <h4 class="slide-title">Access your Medical Records</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text class="ion-text-wrap" color="medium">
            <h5 class="slide-description">
              Get collective medical information from all of your healthcare
              providers in one single app.

              <!-- <p><ion-title>{{ 'HELLO' | translate }}</ion-title></p> -->
            </h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid class="ion-no-padding ion-margin-bottom">
      <ion-row class="ion-no-padding">
        <ion-col
          class="
            ion-no-padding ion-justify-content-center ion-align-items-center
          "
        >
          <ion-img src="/assets/images/welcome2.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text>
            <h4 class="slide-title">Download Medical Apps in FHIRedApp</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text class="ion-text-wrap" color="medium">
            <h5 class="slide-description">
              Add medical apps inside of FHIRedApp to create your own personal
              curated medical experience.
            </h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid class="ion-no-padding ion-margin-bottom">
      <ion-row class="ion-no-padding">
        <ion-col
          class="
            ion-no-padding ion-justify-content-center ion-align-items-center
          "
        >
          <ion-img src="/assets/images/welcome3.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text>
            <h4 class="slide-title">Get started with FHIRedApp today</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-text class="ion-text-wrap" color="medium">
            <h5 class="slide-description">
              Sign Up to start using the FHIRedApp today! Already have an
              account? Login below.
            </h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
