.email-label {
  margin-bottom: 8px;
  margin-top: 8px;
}
ion-title.bold {
  font-weight: bold;
  padding: 0;
}

.gray-divider {
  height: 1px;
  border-width: 1px;
  box-sizing: content-box;
  //border-color: var(--ion-color-light-shade, #d7d8da);
  width: 41%;
}

.passwordIcon {
  font-size: 2rem !important;
  position: absolute;
  right: 8%;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
}

.large-icon {
  font-size: 3rem;
}
.input {
  border: solid 1px black;
  border-radius: 5px;
  background: white;
  position: relative;
  width: 100%;
  padding-left: 4px !important;
  padding-right: 10% !important;
}

.container {
  border-radius: 4px;
  background: white;
  height: 42px;
  width: 100%;
}
.text-align-center {
  text-align: center;
  padding: 5px;
  width: 100%;
}

.header-padding-ios {
  padding-top: 40px;
}
.zero-padding {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.padding {
  margin: 16px 10px 0 10px;
}
