<!-- start LogIn header -->

<ion-header>
  <ion-toolbar
    class="ion-content-background"
    [ngClass]="{ 'header-padding-ios': isIOS, 'zero-padding': !isIOS }"
  >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/loginSignup"
        color="dark"
        icon="chevron-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center bold">Log In</ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="/loginPassword"
        color="secondary"
        icon="chevron-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- end LogIn header -->
<ion-content class="ion-padding-horizontal ion-align-self-center max-app-width">
  <!-- start Email textbox -->
  <form (submit)="validateLogin()">
    <ion-item class="ion-margin-top ion-justify-content-center" lines="none">
      <div class="container">
        <ion-input
          class="input ion-margin-bottom"
          placeholder="email.id@provider.com"
          [(ngModel)]="loginInfo.email"
          required="true"
          #validEmail="ngModel"
          name="validEmail"
          type="email"
          email="true"
        >
        </ion-input>
      </div>

      <!-- <ion-label position="floating" class="email-label whitecolor"
      >Email</ion-label
    >
    <ion-input
      type="email"
      [(ngModel)]="loginInfo.email"
      required="true"
    ></ion-input> -->
    </ion-item>
    <!-- end Email textbox -->

    <!-- start Password textbox -->
    <ion-item class="ion-margin-top" lines="none">
      <div class="container">
        <ion-input
          class="input ion-margin-bottom"
          [type]="passwordType"
          placeholder="Password"
          [(ngModel)]="loginInfo.password"
          clearOnEdit="false"
          required="true"
          (keyDown.enter)="validateLogin()"
        >
        </ion-input>
        <ion-icon
          color="medium"
          [name]="passwordIcon"
          (click)="hideShowPassword()"
          size="small"
          slot="end"
          class="passwordIcon eyeIcon"
          clear
        ></ion-icon>
      </div>
    </ion-item>
    <!-- end Password textbox -->

    <!-- start forgot Password link -->
    <ion-row class="ion-margin-top ion-text-right" *ngIf="!isCoordinator">
      <ion-col>
        <ion-text
          color="medium"
          size="small"
          class="padding"
          (click)="forgotPassword()"
          >Forgot Your password?</ion-text
        >
      </ion-col>
    </ion-row>
  </form>
  <!-- end forgot Password link -->

  <!-- start login button -->
  <ion-row>
    <ion-col>
      <ion-button
        class="ion-margin-top ion-text-capitalize padding button-border"
        [disabled]="!loginInfo.email || !loginInfo.password || !loginResponse"
        color="primary"
        expand="block"
        (click)="logoutBeforeLogin()"
        >Log in</ion-button
      >
    </ion-col>
  </ion-row>
  <!-- end login button -->
  <div *ngIf="showBiometric">
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding continue-label-item">
          <hr class="gray-divider" />
          <ion-label
            color="medium"
            class="ion-text-center continue-label ion-no-margin"
          >
            or
          </ion-label>
          <hr class="gray-divider" />
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- biometric option -->
    <ion-row class="ion-margin-top ion-text-center">
      <ion-col class="ion-margin-top" (click)="openFingerprint()">
        <ion-icon class="large-icon" name="face-icon"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-bottom">
      <ion-col>
        <ion-text color="primary"><small>Use Biometric</small></ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!isCoordinator && showLoginWihEmail">
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding continue-label-item">
          <hr class="gray-divider" />
          <ion-label
            color="medium"
            class="ion-text-center continue-label ion-no-margin"
          >
            or
          </ion-label>
          <hr class="gray-divider" />
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- email option -->
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-margin-top ion-text-capitalize button-border"
          color="primary"
          expand="block"
          (click)="loginWithMagicLink()"
          [disabled]="disable || disableMagicLinkButton()"
        >
          Login with Email link</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center">
        <label
          *ngIf="disable"
          class="ion-justify-content-center text-md text-align-center"
        >
          Link sent to {{magicLinkEmail}}. Please check your email.
        </label>
      </ion-col>
    </ion-row>
  </div>
  <!-- <ion-row>
    <ion-col>
      <ion-button
        class="ion-margin-top ion-text-capitalize button-border"
        color="primary"
        expand="block"
      >
        <ion-icon name="logo-facebook" class="ion-padding-end"></ion-icon>
        Continue with Facebook</ion-button
      >
    </ion-col>
  </ion-row> -->
</ion-content>
