.ion-top-50 {
  margin-top: 50px;
}
.ion-top-100 {
  margin-top: 100px;
}

// .passwordIcon {
//   font-size: 2rem !important;
//   position: relative !important;
//   top: 40px !important;
//   margin: 0 auto !important;
// }
.ion-success {
  background: #27ae60;
}
.ion-grey {
  background: #d2d4dc;
}

.ion-margin-space {
  margin-right: 10px !important;
}

.passwordIcon {
  font-size: 2rem !important;
  position: absolute;
  right: 25px;
  z-index: 100000;
  top: 55%;
  transform: translateY(-50%);
}

.container {
  border-radius: 4px;
  background: white;
  height: 43px;
  width: 100%;
  margin-top: 8px;
}
.input {
  border: solid 1px black;
  border-radius: 5px;
  background: white;
  position: relative;
  width: 100%;
  padding-left: 4px !important;
  padding-right: 10% !important;
}
ion-title.centerAlign {
  padding: 0;
}

.header-padding-ios {
  padding-top: 40px;
}
.zero-padding {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}
