<!-- start header sign up -->
<ion-header>
  <ion-toolbar
    class="ion-content-background"
    [ngClass]="{'header-padding-ios': isIOS, 'zero-padding':!isIOS}"
  >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/loginSignup"
        color="dark"
        icon="chevron-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center centerAlign" *ngIf="!fromForgot"
      >Sign Up</ion-title
    >
    <ion-title class="ion-text-center centerAlign" *ngIf="fromForgot"
      >Create Password</ion-title
    >
    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="/signupPassword"
        color="secondary"
        icon="chevron-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- end header sign up -->

<ion-content
  class="
    ion-padding-horizontal ion-margin-top ion-align-self-center
    max-app-width
  "
>
  <form #signupForm="ngForm" (submit)="validate(signupForm)">
    <!-- start password textbox -->
    <ion-item class="ion-top-50" lines="none">
      <div class="container">
        <ion-input
          [type]="passwordType"
          [(ngModel)]="signupInfo.password"
          clearOnEdit="false"
          required
          #password="ngModel"
          name="password"
          minlength="8"
          pattern="^(?=.*?[A-Z])(?=.*?[a-z]).{0,}$"
          (ngModelChange)="validatePattern(password)"
          class="input ion-margin-bottom"
          placeholder="Password"
          clearOnEdit="false"
          (keyDown.enter)="validate(signupForm)"
        >
        </ion-input>
        <!-- <ion-icon
          *ngIf="!fromForgot"
          color="medium"
          [name]="passwordIcon"
          (click)="hideShowPassword()"
          size="small"
          slot="end"
          class="passwordIcon eyeIcon"
          tooltip="show/hide password"
          clear
        ></ion-icon> -->
      </div>
    </ion-item>
    <!-- confirm password -->
    <!-- *ngIf="fromForgot" -->
    <ion-item lines="none">
      <div class="container">
        <ion-input
          [type]="passwordType1"
          [(ngModel)]="rePassword"
          clearOnEdit="false"
          required
          minlength="8"
          (ngModelChange)="enableDisable()"
          class="input ion-margin-bottom"
          placeholder="Re-enter password"
          clearOnEdit="false"
          (keyDown.enter)="validate(signupForm)"
        >
        </ion-input>
        <!-- *ngIf="fromForgot" -->
        <ion-icon
          color="medium"
          [name]="passwordIcon"
          (click)="hideShowPassword1()"
          size="small"
          slot="end"
          class="passwordIcon eyeIcon"
          tooltip="show/hide password"
          clear
        ></ion-icon>
      </div>
    </ion-item>

    <!-- end password textbox -->

    <!-- start validation messages -->
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-icon
          *ngIf="password.invalid && ( password.errors?.required || password.errors?.minlength); else lengthValidation"
          name="ion-checked-grey"
          class="ion-margin-space"
        ></ion-icon>
        <ng-template #lengthValidation>
          <ion-icon
            name="ion-checked-success"
            class="ion-margin-space"
          ></ion-icon
        ></ng-template>
        <ion-text size="small">At least 8 characters</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon
          *ngIf="password.invalid && (password.errors?.required || (password.errors?.pattern && !password.errors?.uppercase)); else uppercaseValidation"
          name="ion-checked-grey"
          class="ion-margin-space"
        ></ion-icon>
        <ng-template #uppercaseValidation>
          <ion-icon
            name="ion-checked-success"
            class="ion-margin-space"
          ></ion-icon
        ></ng-template>
        <ion-text size="small">At least one uppercase letter</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon
          *ngIf="password.invalid && (password.errors?.required || (password.errors?.pattern && !password.errors?.lowercase)); else lowercaseValidation"
          name="ion-checked-grey"
          class="ion-margin-space"
        ></ion-icon>
        <ng-template #lowercaseValidation>
          <ion-icon
            name="ion-checked-success"
            class="ion-margin-space"
          ></ion-icon
        ></ng-template>
        <ion-text size="small">At least one lowercase letter</ion-text>
      </ion-col>
    </ion-row>
    <!-- end validation messages -->

    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="!fromForgot"
          class="ion-top-100 ion-text-capitalize button-border"
          [disabled]="password.invalid  || setPasswordEnable"
          color="primary"
          expand="block"
          (click)="signup()"
          >Next</ion-button
        >
        <ion-button
          *ngIf="fromForgot"
          class="ion-top-100 ion-text-capitalize button-border"
          [disabled]="password.invalid || setPasswordEnable"
          color="primary"
          expand="block"
          (click)="setNewPassword()"
          >Set new password</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
