.pad-top-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ion-item {
  --border-style: none !important;
  margin: 0 0 0 0px;
  padding: 0 0 0 0px;
  width: 90vw;
}
ion-list .list-md {
  padding: 0 0 0 0px !important;
}
.header {
  margin: 0 0 0 0px;
}

.list-align {
  padding: 0 0 0 0px;
}
