<ion-content
  class="ion-padding ion-justify-content-center ion-align-self-center"
>
  <ion-grid>
    <ion-row class="tabbar" [ngClass]="{ 'tabbar-ios': isIOS, tabbar: !isIOS }">
      <ion-col
        (click)="setSelected()"
        [ngClass]="{
          selected: !isEngLanguageSelected,
          'not-selected': isEngLanguageSelected
        }"
        class="english-tab-bar"
        >English</ion-col
      >
      <ion-col
        (click)="setSelected()"
        [ngClass]="{
          selected: isEngLanguageSelected,
          'not-selected': !isEngLanguageSelected
        }"
        class="spanish-tab-bar"
        >Español</ion-col
      >
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-text>
          <h4 class="apps-title-styles">Consent policy</h4>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text color="medium">
          Version {{ app?.consentVersion }}, updated in
          {{ app?.updatedAt | date }}
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-label><b>Term of Use</b></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-label color="medium" class="ion-text-wrap">{{
          app?.consentTermOfUse
        }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-label><b>Privacy</b></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-label color="medium" class="ion-text-wrap">{{
          app?.consentPrivacy
        }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-label><b>Additional Details</b></ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-label color="medium" class="ion-text-wrap">{{
          app?.consentInformation
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col class="ion-padding-horizontal">
        <div
          id="consent-policy"
          [innerHtml]="consentPolicyTobeLoaded | safeHtml"
          [class.collapsed]="isConsentPolicyCollapsed"
        ></div>
        <!-- <ion-button
          fill="clear"
          size="small"
          color="primary"
          (click)="isConsentPolicyCollapsed = !isConsentPolicyCollapsed"
          class="ion-float-right ion-text-lowercase"
        >
          {{ isConsentPolicyCollapsed ? 'read more' : 'read less' }}</ion-button
        > -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-button
        fill="outline"
        color="primary"
        size="default"
        expand="block"
        (click)="dismiss($event, false)"
        class="ion-text-capitalize button-margin button-border"
        >Decline
      </ion-button>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center"
      ><ion-button
        fill="solid"
        color="primary"
        size="default"
        expand="block"
        (click)="dismiss($event, true)"
        class="ion-text-capitalize button-border"
        >Accept
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
