<ion-card class="ion-text-center ion-no-padding ion-no-margin card">
  <div class="div-container">
    <ion-card class="ion-text-center ion-no-padding date-card">
      <div class="vertical-item">
        <ion-text class="ion-no-margin ion-no-padding ion-float-left" start>
          <h6 class="month-text text-xxsm">{{ month }}</h6>
        </ion-text>
        <ion-text class="ion-no-margin ion-no-padding ion-float-left" start>
          <h6 class="date-text text-ivl">{{ date }}</h6>
        </ion-text>
      </div>
    </ion-card>

    <div class="vertical-item">
      <ion-text
        class="zero-padding ion-float-left medication-title-text text-md"
        start
      >
        {{ title }}
      </ion-text>
      <ion-text
        class="zero-padding ion-float-left medication-dosage-text text-sm"
        start
      >
        {{ subTitle }}
      </ion-text>
    </div>
    <ion-icon
      name="chevron-forward-outline"
      color="primary"
      class="chevron-forward-outline padding iconsize"
    ></ion-icon>
  </div>
</ion-card>
